

.badge {
	position: absolute;
	bottom: calc(100% - 10px);
	left: calc(100% - 10px);
	translate: -24%;
	padding: 4px 8px;
	background-color: rgba(var(--vuuui-color-primary--rgb), 0.8);
	border-radius: 16px;
	font-size: 80%;
	line-height: initial;
}
