@use '../../base.scss';

.vuuui-container {
  @extend .vuuui-base;

  position: relative;
  margin: 0 auto;
  border-radius: var(--vuuui-radius);
  padding: var(--vuuui-padding);

  &[data-xs='true'] {
    max-width: var(--vuuui-break-xs);
  }

  &[data-sm='true'] {
    max-width: var(--vuuui-break-sm);
  }

  &[data-md='true'] {
    max-width: var(--vuuui-break-md);
  }

  &[data-fluid='true'] {
    width: 100%;
  }
}
