@use '../../base.scss';

.vuuui-spacer {
  @extend .vuuui-base;
  display: flex;

  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--vuuui-padding--half);
}
