@use '../../base.scss';

.vuuui-button-base {
  @extend .vuuui-base;

  display: inline-block;
  position: relative;
  transition-duration: var(--vuuui-transition-duration--short);
  transition-property: opacity;
  cursor: pointer;
  border: none;
  width: fit-content;
  height: fit-content;
  color: inherit;
  font-size: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:not(:disabled):active {
    top: 1px;
  }

  &:not([data-active='true']):disabled {
    opacity: 0.5;
  }

  &:disabled {
    cursor: default;
  }
}
