@import '../../base.scss';

.vuuui-button-base {
	@extend .vuuui-base;

	position: relative;
	display: inline-block;
	cursor: pointer;
	border: none;
	user-select: none;
	font-size: inherit;
	color: inherit;
	width: fit-content;
	height: fit-content;
	transition-duration: var(--vuuui-transition-duration--short);
	transition-property: opacity;

	&:not(:disabled):active {
		top: 1px;
	}

	&:not([active="true"]):disabled {
		opacity: .7;
		color: rgba(var(--vuuui-color-text--rgb), .4);
	}

	&:disabled {
		cursor: default;
	}
}
