@import "./text_button_base.scss";

.vuuui-elevated-button {
	@extend .vuuui-text-button-base;

	background-color: rgba(var(--vuuui-color-primary--rgb), .1);
	box-shadow: 0 2px 2px var(--vuuui-color-shadow);
	transition-property: background-color, box-shadow, opacity;

	&:not(:disabled, [active="true"]):hover {
		background-color: rgba(var(--vuuui-color-primary--rgb), .4);
		box-shadow: 0 2px 4px var(--vuuui-color-shadow--strong);
	}

	&[active="true"] {
		background-color: rgba(var(--vuuui-color-primary--rgb), .7);
		box-shadow: 0 2px 2px var(--vuuui-color-shadow--strong);
	}

	&:not(:disabled):active {
		box-shadow: 0 2px 2px var(--vuuui-color-shadow--strong);
	}
}
