@use 'text_button_base.scss';

.vuuui-elevated-button {
  @extend .vuuui-text-button-base;
  transition-property: background-color, box-shadow, opacity;
  box-shadow: 0 2px 2px var(--vuuui-color-shadow);
  background-color: var(--vuuui-color-primary--lighter);

  &:not(:disabled, [active='true']):hover {
    box-shadow: 0 2px 4px var(--vuuui-color-shadow--strong);
    background-color: var(--vuuui-color-primary--light);
  }

  &[active='true'] {
    box-shadow: 0 2px 2px var(--vuuui-color-shadow--strong);
    background-color: var(--vuuui-color-alt);
  }

  &:not(:disabled):active {
    box-shadow: 0 2px 2px var(--vuuui-color-shadow--strong);
  }
}
