@use 'elevated_button.scss';

.vuuui-filled-button {
  @extend .vuuui-elevated-button;
  box-shadow: none;
  background-color: var(--vuuui-color-primary);

  &:not(:disabled, [data-active='true']):hover {
    background-color: var(--vuuui-color-primary--dark);
  }

  &[data-active='true'] {
    background-color: var(--vuuui-color-alt--darker);
    color: var(--vuuui-color-bg);
  }
}
