@import "./elevated_button.scss";

.vuuui-filled-button {
	@extend .vuuui-elevated-button;

	background-color: rgba(var(--vuuui-color-primary--rgb), .7);
	box-shadow: none;

	&:not(:disabled, [active="true"]):hover {
		background-color: rgba(var(--vuuui-color-primary--rgb), .8);
	}

	&[active="true"] {
		background-color: var(--vuuui-color-primary);
	}
}
