@import './button_base.scss';

.vuuui-icon-button {
  @extend .vuuui-button-base;
  flex-grow: 0;
  flex-shrink: 0;
  transition-property: background-color, opacity, color;

  border-radius: 50%;
  background-color: transparent;
  padding: var(--vuuui-padding--half);
  aspect-ratio: 1/1;
  line-height: 1;

  .vuuui-spinner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &:not(:disabled, [active='true']):hover {
    background-color: var(--vuuui-color-primary--light);
  }

  &[active='true'] {
    background-color: var(--vuuui-color-alt--light);
    color: var(--vuuui-color-primary--text);
  }
}
