@import './text_button.scss';

.vuuui-outlined-button {
  @extend .vuuui-text-button;
  transition-property: background-color, border-color;

  border: 1px solid var(--vuuui-color-primary--light);

  &:not(:disabled):hover,
  &[active='true'] {
    border: 1px solid var(--vuuui-color-primary);
  }
}
