@use 'text_button_base.scss';

.vuuui-text-button {
  @extend .vuuui-text-button-base;
  transition-duration: var(--vuuui-transition-duration--short);
  transition-property: background-color;

  background-color: transparent;

  &:not(:disabled, [data-active='true']):hover {
    background-color: var(--vuuui-color-primary--light);
  }

  &[data-active='true'] {
    background-color: var(--vuuui-color-alt);
  }
}
