@import "./text_button_base.scss";

.vuuui-text-button {
  @extend .vuuui-text-button-base;

  background-color: transparent;
  transition-property: background-color;
  transition-duration: var(--vuuui-transition-duration--short);

  &:not(:disabled, [active="true"]):hover {
    background-color: var(--vuuui-color-primary--light);
  }

  &[active="true"] {
    background-color: var(--vuuui-color-alt--light);
  }
}
