@import '../../base.scss';

.vuuui-container {
	@extend .vuuui-base;

	position: relative;
	margin: 0 auto;
	border-radius: var(--vuuui-radius);
	padding: var(--vuuui-padding);
}

.vuuui-container-xs {
	max-width: 540px;
}

.vuuui-container-sm {
	max-width: 960px;
}

.vuuui-container-md {
	 max-width: 1320px;
}
