@import '../../base.scss';

.vuuui-container {
  @extend .vuuui-base;

  position: relative;
  margin: 0 auto;
  border-radius: var(--vuuui-radius);
  padding: var(--vuuui-padding);

  &[xs="true"] {
	max-width: 540px;
  }

  &[sm="true"] {
	max-width: 960px;
  }

  &[md="true"] {
	 max-width: 1320px;
  }
}
