@import '../../base.scss';

.vuuui-container {
  @extend .vuuui-base;

  position: relative;
  margin: 0 auto;
  border-radius: var(--vuuui-radius);
  padding: var(--vuuui-padding);

  &[xs='true'] {
    max-width: var(--vuuui-break-xs);
  }

  &[sm='true'] {
    max-width: var(--vuuui-break-sm);
  }

  &[md='true'] {
    max-width: var(--vuuui-break-md);
  }
}
