@import '../../base.scss';

.vuuui-spacer {
	@extend .vuuui-base;

	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--vuuui-padding--half);
	flex-wrap: wrap;
}
