@import '@vuuui/styles/vuuui.scss';

.section-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: map-get($break-point, break-xs)) {
        flex-direction: row;
    }

    .app-bar {
        flex: 0;
    }

    .app-body {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}
