@import "./utils.scss";

$theme--default: (
  color-primary--text: #570000,
  color-primary--dark: #ff907f,
  color-primary: #ffc5b3,
  color-primary--light: #ffe5dc,
  color-primary--lighter: #fff6f3,

  color-alt--text: #481523,
  color-alt--dark: #c48591,
  color-alt: #f1afbb,
  color-alt--light: #ffe3ec,
  color-alt--lighter: #fff3f7,

  color-success: #00aa32,
  color-info: #00b5b8,
  color-warning: #dba800,
  color-danger: #db4400,

  color-bg: #ffffff,
  color-text: #000000,
  color-link: #00a1b6,
) !default;

$colors: (
  color-shadow: rgba(0, 0, 0, 0.1),
  color-shadow--strong: rgba(0, 0, 0, 0.16),
  color-border: rgba(var(--vuuui-color-text--rgb), 0.07),
  color-border--strong: rgba(var(--vuuui-color-text--rgb), 0.1),
  color-wrapper: rgba(var(--vuuui-color-text--rgb), 0.024),
) !default;

$spacing: (
  padding: 1rem,
  padding--medium: .7rem,
  padding--half: .5rem,
  padding--small: .3rem,
) !default;

$misc: (
  radius: 16px,
  radius--half: 8px,
  blur-length: 4px,
  transition-duration: 300ms,
  transition-duration--short: 150ms,
) !default;

:root {
  @include generate_colors($theme--default);
  @include with_prefix($colors);
  @include with_prefix($spacing);
  @include with_prefix($misc);
}
