@use '../../buttons/button_base.scss';

.vuuui-navigation-bar-button {
  @extend .vuuui-button-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--vuuui-padding--tiny);
  background-color: transparent;
  padding: var(--vuuui-padding--half) 0;

  width: 100%;
  color: var(--vuuui-color-text);
  font-size: small;

  &:not(:disabled):active {
    top: 0;
  }

  &:hover {
    & > .vuuui-icon {
      background-color: var(--vuuui-color-primary--light);
    }
  }

  &[active='true'] {
    & > .vuuui-icon {
      background-color: var(--vuuui-color-primary);
      color: var(--vuuui-color-primary--text);
    }
  }

  & > .vuuui-icon {
    transition-duration: var(--vuuui-transition-duration--short);
    transition-property: color, background-color;
    border-radius: var(--vuuui-radius);
    background-color: var(--vuuui-color-primary--lighter);
    padding: var(--vuuui-padding--tiny) var(--vuuui-padding);
  }
}
