@use "sass:map";
@use '../../../base.scss';
@use '../../../vuuui.scss';

.vuuui-navigation-bar {
  @extend .vuuui-base;
  display: flex;

  position: relative;
  justify-content: space-evenly;
  border-top-right-radius: var(--vuuui-radius);
  border-top-left-radius: var(--vuuui-radius);
  background-color: var(--vuuui-color-primary--lighter);
  width: 100%;
  height: auto;

  @media screen and (min-width: map.get(vuuui.$break-point, break-xs)) {
    flex-direction: column;
    justify-content: flex-start;
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--vuuui-radius);
    padding: 0 var(--vuuui-padding--half);
    width: min-content;
    height: 100%;
  }
}
