@import "./utils.scss";

$color--light: (
	color-primary: #ff907f,
	color-success: #00aa32,
	color-info: #00b5b8,
	color-warning: #dba800,
	color-danger: #db4400,

	color-bg: #ffffff,
	color-text: #000000,
	color-link: #00a1b6,
);

$color--dark: (
	color-bg: #1f1f1f,
	color-text: #ffffff,
	color-link: #46ffe0,
);

:root {
    @include generate_colors($color--light);

	--vuuui-color-shadow: rgba(0, 0, 0, 0.04);
	--vuuui-color-border: rgba(var(--vuuui-color-text--rgb), 0.07);

	--vuuui-blur-length: 4px;
	--vuuui-transition-duration: 300ms;
	--vuuui-transition-duration--short: 150ms;
}

:root[data-theme="dark"] {
    @include generate_colors($color--dark);
}
