@import '@fontsource/mali';

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--vuuui-color-bg);
	color: var(--vuuui-color-text);
	transition-property: background-color, color;
	transition-duration: var(--vuuui-transition-duration);
	font-family: 'Mali', cursive;
}
