.vuuui-duck-spinner {
  .vuuui-line {
    fill: none;
    stroke: var(--vuuui-color-text);
    stroke-width: 1.2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: none;
    transition-duration: var(--vuuui-transition-duration);
    transition-property: stroke;
  }

  .vuuui-spinner {
    transform-origin: center;
    scale: 1.1;

    & > * {
      transform-origin: center;
      opacity: 0.64;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: vuuui-spin;
    }

    .vuuui-circle-1 {
      scale: 0.85;
      opacity: 0.32;
      animation-direction: reverse;
    }

    @keyframes vuuui-spin {
      from {
        rotate: 0;
      }
      to {
        rotate: 359deg;
      }
    }
  }

  .vuuui-duck {
    transform-origin: center;
    scale: 1.2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: vuuui-slay;

    @keyframes vuuui-slay {
      0% {
        rotate: -24deg;
      }
      50% {
        rotate: 24deg;
      }
      100% {
        rotate: -24deg;
      }
    }

    .vuuui-body {
      stroke-width: 1.5;
    }

    .vuuui-eye {
      stroke-width: 1;
    }
  }
}

.vuuui-thin {
  .vuuui-line {
    stroke-width: 0.5;
  }

  .vuuui-duck {
    .vuuui-body {
      stroke-width: 1;
    }

    .vuuui-eye {
      stroke-width: 0.8;
    }
  }
}
