@import '../../base.scss';
@import '../../vuuui.scss';

.vuuui-app-bar {
  @extend .vuuui-base;
  display: flex;

  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--vuuui-padding--half);
  box-shadow: 0 var(--vuuui-padding--tiny) var(--vuuui-padding--half)
    var(--vuuui-color-shadow--soft);
  background-color: var(--vuuui-color-bg);
  padding: 0 var(--vuuui-padding--half);
  min-height: var(--vuuui-padding--x3);

  .vuuui-app-bar-section-left {
    display: flex;
    align-items: center;
    gap: var(--vuuui-padding--half);
    overflow: hidden;

    .vuuui-app-bar-leading {
    }

    .vuuui-app-bar-title {
      flex: 1;
      overflow-x: hidden;
      overflow-x: clip;
      font-weight: bold;
      font-size: 1.1rem;
      text-overflow: ellipsis;
    }
  }

  .vuuui-app-bar-actions {
    display: flex;
    align-items: center;
    gap: var(--vuuui-padding--small);
  }
}
