@import '../../base.scss';

.vuuui-color-input {
  @extend .vuuui-base;
  $icon-width: 3rem;
  $color-text-placeholder: rgba(var(--vuuui-color-text--rgb), 0.4);
  display: flex;

  position: relative;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--vuuui-color-border);
  border-radius: var(--vuuui-radius);
  padding: var(--vuuui-padding--medium) 0;
  width: 100%;

  > input {
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    outline: none;
    border: none;
    border-radius: var(--vuuui-radius);
    width: 4rem;
    height: 100%;

    &::-moz-color-swatch {
      border: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: var(--vuuui-radius);
    }
  }

  .vuuui-icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: $icon-width;
    height: 100%;
    line-height: 1rem;
  }

  .vuuui-placeholder {
    margin-right: 4rem;
    padding-right: var(--vuuui-padding--half);
    max-width: 100%;
    overflow: hidden;
    color: $color-text-placeholder;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
