@import '../../base.scss';

.vuuui-file-input {
  @extend .vuuui-base;
  $icon-width: 3rem;
  $color-text-placeholder: rgba(var(--vuuui-color-text--rgb), .4);

  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--vuuui-padding--medium) 0;
  border-radius: var(--vuuui-radius);
  border: 1px solid var(--vuuui-color-border);

  input {
    display: none;
  }

  .vuuui-icon {
    width: $icon-width;
    height: 100%;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .vuuui-placeholder {
    color: $color-text-placeholder;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    padding-right: var(--vuuui-padding);
  }
}
