@use '../../base.scss';

$track-w: 100%;
$track-h: var(--vuuui-padding--half);
$thumb-d: 1.7rem;
$track-c: var(--vuuui-color-alt--light);
$filll-c: var(--vuuui-color-primary--dark);
$thumb-c: var(--vuuui-color-primary--dark);

@mixin track($fill: 0) {
  box-sizing: border-box;
  border: none;
  border-radius: var(--vuuui-radius);
  background: $track-c;
  width: $track-w;
  height: $track-h;

  @if $fill == 1 {
    & {
      background: linear-gradient($filll-c, $filll-c)
        0 /
        var(--sx)
        100%
        no-repeat
        $track-c;
    }
  }
}

@mixin fill() {
  border-radius: var(--vuuui-radius);
  background: $filll-c;
  height: $track-h;
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  background: $thumb-c;
  width: $thumb-d;
  height: $thumb-d;
}

.vuuui-slider-wrapper {
  @extend .vuuui-base;
  position: relative;
  padding: 0 var(--vuuui-padding);

  .vuuui-slider {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(0.5 *#{$thumb-d} + var(--ratio) * (100% - #{$thumb-d}));
    margin: 0;
    background: transparent;
    padding: 0;
    width: $track-w;
    height: $thumb-d;

    &,
    &::-webkit-slider-thumb {
      appearance: none;
    }

    &::-webkit-slider-runnable-track {
      @include track(1);
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-moz-range-progress {
      @include fill;
    }
    &::-ms-fill-lower {
      @include fill;
    }

    &::-webkit-slider-thumb {
      margin-top: calc(0.5 * ($track-h - $thumb-d));
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      margin-top: 0;
      @include thumb;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}
