@import '../../base.scss';

.vuuui-slider-wrapper {
  @extend .vuuui-base;
  position: relative;
  padding: 0 var(--vuuui-padding);

  .vuuui-slider {
    $bar-size: var(--vuuui-padding--half);
    $knob-size: 1.4rem;

    position: relative;
    cursor: pointer;
    border-radius: var(--vuuui-radius--half);
    background-color: var(--vuuui-color-primary--lighter);
    width: 100%;
    height: $bar-size;

    .vuuui-slider-filler {
      transition-duration: var(--vuuui-transition-duration--short);
      transition-property: width;
      border-radius: var(--vuuui-radius--half);
      background-color: var(--vuuui-color-primary);
      width: 0;
      height: 100%;
    }

    .vuuui-slider-knob {
      position: absolute;
      top: 0;
      left: 0;
      translate: -50% calc(-50% + $bar-size / 2);
      transition-duration: var(--vuuui-transition-duration--short);
      transition-property: left;

      .vuuui-knob-body {
        display: block;
        position: relative;
        width: $knob-size;
        height: $knob-size;

        .vuuui-knob-main {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          background-color: var(--vuuui-color-primary);
          width: 100%;
          height: 100%;
        }

        .vuuui-knob-outline {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition-duration: var(--vuuui-transition-duration--short);
          transition-property: top, left, width, height, opacity;
          border-radius: 50%;
          background-color: rgba(var(--vuuui-color-primary--rgb), 0.2);
          width: 100%;
          height: 100%;
        }
      }

      .vuuui-knob-body:hover,
      .vuuui-active {
        .vuuui-knob-outline {
          top: -50%;
          left: -50%;
          opacity: 1;
          width: 200%;
          height: 200%;
        }
      }
    }
  }
}
