@import '../../base.scss';

.vuuui-switch {
  @extend .vuuui-base;
  $label-gap: var(--vuuui-padding--half);
  $dot-size: 1.32rem;
  $dot-gap: 0.2rem;
  $body-width: calc(3rem - $label-gap);
  $body-height: $dot-size + ($dot-gap * 1.5);

  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: $label-gap;
  transition-property: background-color;
  cursor: pointer;
  border-radius: var(--vuuui-radius--half);
  padding: var(--vuuui-padding--small) 0;
  padding-right: var(--vuuui-padding);
  width: 100%;

  &:hover {
    background-color: var(--vuuui-color-primary--lighter);
  }

  input {
    display: none;

    &:checked {
      & + .vuuui-switch-button {
        background-color: var(--vuuui-color-primary--darker);

        .vuuui-switch-dot {
          left: calc(100% - $dot-gap - $dot-size);
          background-color: var(--vuuui-color-primary--light);
        }
      }
    }
  }

  .vuuui-switch-button {
    position: relative;
    transition-duration: var(--vuuui-transition-duration--short);
    transition-property: background-color;
    outline: 1px solid var(--vuuui-color-primary--dark);
    border-radius: $body-height;
    background-color: var(--vuuui-color-bg);
    width: $body-width;
    height: $body-height;

    .vuuui-switch-dot {
      position: absolute;
      top: 50%;
      left: $dot-gap;
      translate: 0 -50%;
      transition-duration: var(--vuuui-transition-duration--short);
      transition-property: background-color, left;
      border-radius: 50%;
      background-color: var(--vuuui-color-primary--dark);
      width: $dot-size;
      height: $dot-size;
    }
  }
}
