@import '../../base.scss';

.vuuui-switch {
  @extend .vuuui-base;
  $gap: var(--vuuui-padding--half);
  $icon-width: calc(3rem - $gap);
  $dot-size: 1.2rem;
  display: flex;

  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: $gap;
  transition-property: background-color;
  cursor: pointer;
  border-radius: var(--vuuui-radius--half);
  padding: var(--vuuui-padding--small) 0;
  padding-right: var(--vuuui-padding);
  width: 100%;

  input {
    display: none;

    &:checked {
      & + .vuuui-switch-button {
        background-color: var(--vuuui-color-primary--light);

        .vuuui-switch-dot {
          left: 100%;
          translate: -100% -50%;
          background-color: var(--vuuui-color-primary--dark);
        }
      }
    }
  }

  .vuuui-switch-button {
    position: relative;
    transition-duration: var(--vuuui-transition-duration--short);
    transition-property: background-color;
    border: 1px solid var(--vuuui-color-primary--light);
    border-radius: var(--vuuui-radius);
    background-color: var(--vuuui-color-primary--lighter);
    width: $icon-width;
    height: $dot-size;

    .vuuui-switch-dot {
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      transition-duration: var(--vuuui-transition-duration--short);
      transition-property: background-color, left, translate;
      border-radius: 50%;
      background-color: var(--vuuui-color-primary);
      width: $dot-size;
      height: $dot-size;
    }
  }
}
