@import "./TextButton.scss";

.btn-elevated {
	@extend .btn-text;

	background-color: rgba(var(--vuuui-color-primary--rgb), 0.1);
	box-shadow: 0 4px 4px var(--vuuui-color-shadow);
	transition-property: background-color, color;

	&:not(:disabled):hover {
		background-color: rgba(var(--vuuui-color-primary--rgb), 0.4);
		box-shadow: 0 4px 4px var(--vuuui-color-shadow);
	}

	&:not(:disabled):active {
		box-shadow: 0 3px 4px var(--vuuui-color-shadow);
	}
}
