@import "./_Button.scss";

.vuuui-btn-icon {
	@extend .vuuui-btn;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	flex-grow: 0;
	flex-shrink: 0;
	line-height: 0;
	background-color: transparent;
	color: var(--vuuui-color-text);
	padding: 8px;
	transition-property: background, color;
	transition-duration: var(--vuuui-transition-duration);

	&:not(:disabled):hover {
		background-color: rgba(var(--vuuui-color-primary--rgb), 0.2);
	}
}
